<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ky thuat Google Adwords nang cao</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
<style type="text/css">
    a {
        color: blue;
        text-decoration: none;
        margin-top: 12px;
        display: block;
        font-size: 20px;
    }
    h1 {
        text-align: center;
        text-shadow: 5px 5px 5px rgba(165, 140, 177, 1);
    }
</style>

<body>
    <h1>KHÓA HỌC GOOGLE ADWORDS CHUYÊN SÂU</h1>
    <a href="https://openload.co/f/pftu_vkXXjw/0.mp4">Bài 1: Giải thích kỹ về cài đặt chiến dịch</a><br>

    <a href="https://openload.co/f/OPAv96nU3j0/1.mp4" onclick="window.open('http://tinyurl.com/y8m5ykym');
    return true;">Bài 2: Đối sánh từ khoá</a><br>

    <a href="https://openload.co/f/IhY6VEaOg6w/2.mp4">Bài 3: Điểm chất lượng</a><br>

    <a href="https://openload.co/f/cpMwgvMDnnA/3.mp4" onclick="window.open('http://tinyurl.com/y8s6sssh');
    return true;">Bài 4: Cách tìm hết 100% từ khoá</a><br>

    <a href="https://openload.co/f/2tsI-oVuG9w/4.mp4" >Bài 5: Quy trình nghiên cứu từ khoá đầy đủ</a><br>

    <a href="https://openload.co/f/syV3msn77JI/5.mp4" onclick="window.open('http://tinyurl.com/y7bwkzrs');
    return true;">Bài 6: Cấu trúc từ khoá tối ưu nhất</a><br>

    <a href="https://openload.co/f/FSVBBZAIdSE/6.mp4" >Bài 7: Kỹ thuật viết mẫu quảng cáo đạt điểm chất lượng tối đa</a><br>

    <a href="https://openload.co/f/PdEf17YHIUA/7.mp4" onclick="window.open('http://tinyurl.com/y7bwkzrs');
    return true;">Bài 8: Giải thích nâng cao về điểm chất lượng</a><br>

    <a href="https://openload.co/f/JUWn6YOGFcY/8.mp4" >Bài 9: Kỹ thuật duy trì điểm chất lượng</a><br>

    <a href="https://openload.co/f/KRAlAYqw_Zc/9.mp4" onclick="window.open('http://tinyurl.com/yb3zgayk');
    return true;">Bài 10: Sử dụng chiến lược giá thầu</a><br>

    <a href="https://openload.co/f/34e9y5c-26k/10.mp4">Bài 11: Tất cả các cách giảm giá thầu</a><br>

    <a href="https://openload.co/f/gGw0q4PgJx4/11.mp4" onclick="window.open('http://tinyurl.com/yb3zgayk');
    return true;">Bài 12: Các loại báo cáo cần xem trong Google AdWords</a><br>

    <a href="https://openload.co/f/gGw0q4PgJx4/11.mp4">Bài 13 : Đọc báo cáo và điều chỉnh chiến dịch</a><br>
    
    <a href="https://openload.co/f/TzGdqiaXq0o/T%C3%A0i_li%E1%BB%87u-20171025T135558Z-001.zip" onclick="window.open('http://tinyurl.com/yb4cxleh');
    return true;">Tài liệu</a><br>
</body>

</html>